#contenido{
    background-color: rgb(223, 223, 223);
    /*height: 600px;*/
    /*float: right;*/
    width: 82%;
    margin-right: 1%;
}

#banner img{
    width: 100%;
}

#NavBar{
    margin-bottom: 3%;
}

.card h5 a{
    text-decoration: none;
}

footer{
    height: 200px;
}

.Textico{
    font-size: larger ;
    text-align: justify;
}

#imagen{
    text-align: center;
}

#footer2 {
    display: flex;
    align-items: flex-start;
    color: white;
}